@import "../global.scss";

.article {
    padding: 5rem 0;

    .content {
        display: flex;
        align-items: center;

        .header {
            width: 30%;
            margin-bottom: 0;

            h1 {
                color: $grey;
                margin: 0;
                font-size: 1.05rem;
                padding: 0.5rem 0;
                line-height: 1.5;
            }
        }

        .text {
            width: 70%;

            p {
                margin: 0;
                line-height: 1.5;
                white-space: pre-wrap;
            }
        }

        &.right {
            .header {
                text-align: right;
                padding-right: 1.5rem;

                h1 {
                    padding-right: 1.5rem;
                }
            }

            .text {
                padding-left: 2rem;
                border-left: 2px solid $green;
            }
        }

        &.left {
            flex-direction: row-reverse;

            .header {
                padding-left: 1.5rem;
                text-align: left;

                h1 {
                    padding-left: 1.5rem;
                }
            }

            .text {
                padding-right: 2rem;
                text-align: right;
                border-right: 2px solid $green;
            }
        }

        @media (max-width: 768px) {
            flex-direction: column;

            .header {
                width: 100%;
                margin-bottom: 2rem;

                h1 {
                    border-width: 3px !important;
                }
            }

            .text {
                width: 100%;
                padding: 0 !important;
                border: none !important;
            }

            &.right {
                .header {
                    text-align: left;

                    h1 {
                        padding: 0;
                        border: none;
                        border-left: 2px solid $green;
                        padding-left: 1.5rem;
                    }
                }
            }

            &.left {
                flex-direction: column;

                .header {
                    text-align: right;

                    h1 {
                        padding: 0;
                        border: none;
                        border-right: 2px solid $green;
                        padding-right: 1.5rem;
                    }
                }
            }
        }
    }

    &.dark {
        background-color: $grey;

        .content {
            .header {
                h1 {
                    color: $white;
                }
            }

            .text {
                p {
                    color: $light-grey;
                }
            }
        }
    }
}