@import "../global.scss";

.content {
    display: flex;

    header {
        width: 30%;
        margin-bottom: 0;

        h1 {
            color: $grey;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin: 0;
            font-size: 1.3rem;
            padding: 0.5rem 0;
            line-height: 1.5;
        }
    }

    .text {
        width: 70%;

        p:first-child {
            margin-top: 0;
        }

        p {
            line-height: 1.3;
        }
    }

    &.right {
        header {
            text-align: right;
            padding-right: 1.5rem;

            h1 {
                border-right: 2px solid $green;
                padding-right: 1.5rem;
            }
        }

        .text {
            padding-left: 2rem;
        }
    }

    &.left {
        flex-direction: row-reverse;

        header {
            padding-left: 1.5rem;
            text-align: left;

            h1 {
                border-left: 2px solid $green;
                padding-left: 1.5rem;
            }
        }

        .text {
            padding-right: 2rem;
            text-align: right;
        }
    }

    &.dark {
        header {
            h1 {
                color: $white;
            }
        }

        .text {
            color: $light-grey;
        }
    }

    &.capability {
        align-items: center;
        padding: 4rem 0;

        &.dark {
            background-color: $grey;
        }

        header {
            height: 100%;

            h1 {
                text-transform: none;
                font-size: 1rem;
                letter-spacing: 0.5px;
                border: none;
            }
        }

        .text {
            border-left: 2px solid $green;

            p {
                margin: 0;
            }
        }
    }
}
