@import "../global.scss";

.block {
    background-color: $grey;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 40%;
    box-sizing: border-box;

    .image {
        width: 100%;
        border-radius: inherit;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .name {
        display: flex;
        align-items: baseline;
        margin-top: 1.25rem;

        h4 {
            color: $white;
            font-weight: 600;
            letter-spacing: 0.25px;
            font-size: 1.05rem;
            margin: 0;
        }

        i {
            color: $green;
            margin-right: 0.75rem;
            font-size: 0.9rem;
        }
    }

    p {
        color: $light-grey;
        margin: 0;
        margin-top: 0.75rem;
        line-height: 1.5;
        font-size: 0.9rem;
    }

    @media (max-width: 991px) {
        width: 45%;
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}
