@import "../global.scss";

.landing {
    height: 100vh;
    background-color: $grey;
    position: relative;

    .image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .slide {
        height: 100vh;
        display: flex;
        position: relative;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(21, 22, 20, 0.75);
            display: flex;
        }

        .content {
            z-index: 3;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            height: 100%;
            padding: 5rem 0 0 4rem;
            color: $white;

            h6 {
                border-left: 3px solid $green;
                font-size: 0.8rem;
                padding-left: 1rem;
                margin: 0;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-bottom: 0.5rem;
                font-weight: 600;
            }

            h1 {
                font-weight: 600;
                font-size: 1.75rem;
                text-transform: uppercase;
                line-height: 1.6;
                margin: 1rem 0;
                letter-spacing: 0.5px;

                span {
                    font-weight: 700;
                    color: $green;
                }
            }

            .button {
                align-self: flex-start;
                background-color: transparent;
                border: 1.5px solid white;
                border-radius: 0.25rem;
                transition: 0.3s ease-out;

                a {
                    display: inline-block;
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: $heading-font;
                    letter-spacing: 1.5px;
                    font-size: 0.75rem;
                    font-weight: 600;
                    padding: 0.5rem 1rem;
                }

                &:hover {
                    background-color: $green;
                    border-color: $green;
                }
            }
        }

        &.right {
            .overlay {
                justify-content: flex-end;
            }

            .content {
                text-align: right;
                padding: 5rem 4rem 0 0;

                h6 {
                    border-right: 3px solid $green;
                    border-left: none;
                    padding: 0 1rem 0 0;
                }

                .button {
                    align-self: flex-end;
                }
            }
        }

        @media (max-width: 768px) {
            .content {
                width: 80%;
            }
        }

        @media (max-width: 768px) {
            .content {
                width: 90%;
                padding: 5rem 0 0 2rem;

                h1 {
                    margin: 1.5rem 0;
                    font-size: 1.5rem;
                }
            }

            &.right {
                .content {
                    padding: 5rem 2rem 0 0;
                }
            }
        }
    }
}
