@import "../global.scss";

.section {
    padding: 6rem 0;

    .heading {
        margin-bottom: 3rem;
        text-align: center;

        h1 {
            color: $grey;
            font-family: $heading-font;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin: 0;
            margin-bottom: 1rem;
        }

        div {
            width: 4rem;
            height: 3px;
            background-color: $green;
            margin: auto;
        }
    }
}
