@import "../global.scss";

.section {
    padding: 8rem 0;

    .header {
        margin-bottom: 4rem;
        text-align: center;

        h1 {
            color: $grey;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            margin: 0;
            margin-bottom: 1rem;
            font-size: 1.4rem;
        }

        div {
            width: 4rem;
            height: 3px;
            background-color: $green;
            margin: auto;
            margin-bottom: 1rem;
        }
    }

    &.dark {
        background-color: $grey;

        header {
            h1 {
                color: white;
                font-weight: 600;
            }
        }
    }
}
