@import "../global.scss";

.menu-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 1.5rem;

    .menu-item {
        background-color: $light-grey;
        border-radius: 0.25rem;
        transition: 0.3s ease-out;

        a {
            display: block;
            padding: 0.75rem 1.5rem;
            font-family: $heading-font;
            text-decoration: none;
            color: $grey;
            font-size: 0.9rem;
            font-weight: 600;
        }

        &:hover {
            background-color: $green;

            a {
                color: $white;
            }
        }
    }
}

.section {
    padding: 2rem 0;
}
