@import "../global.scss";

.menu-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 1.5rem;

    .menu-item {
        background-color: $light-grey;
        border-radius: 0.25rem;
        transition: 0.3s ease-out;

        a {
            display: block;
            padding: 0.75rem 1.5rem;
            font-family: $heading-font;
            text-decoration: none;
            color: $grey;
            font-size: 0.9rem;
            font-weight: 600;
            text-align: center;
        }

        &:hover {
            background-color: $green;

            a {
                color: $white;
            }
        }
    }
}

.section {
    padding: 2rem 0;
}

.backToMenuButton {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $green;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.5s ease-out;
    padding: 0;
    margin: 0;

    i {
        color: $light-grey;
        padding: 0.75rem;

        @media (max-width: 576px) {
            padding: 0.5rem;
        }
    }

    &:hover {
        background-color: $grey;

        i {
            color: $green;
        }
    }
}
