@import "../global.scss";

.grid {
    display: flex;

    .details {
        padding: 6rem 0;
        width: 60%;
        padding-right: 2rem;

        .header {
            margin-bottom: 4rem;

            h1 {
                color: $grey;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                margin: 0;
                margin-bottom: 1rem;
                font-size: 1.4rem;
            }

            div {
                width: 4rem;
                height: 3px;
                background-color: $green;
                margin-bottom: 1.5rem;
            }

            p {
                line-height: 1.25rem;
                margin: 0;
            }
        }

        .group {
            margin: 0;
            margin-bottom: 2rem;

            h5 {
                margin: 0;
                margin-bottom: 0.5rem;
                text-transform: uppercase;
                font-size: 1rem;
                font-family: $heading-font;
                font-size: 0.9rem;
            }

            a {
                color: $grey;
                text-decoration: none;
                display: inline-block;

                i {
                    display: inline-block;
                    font-size: 1rem;
                    color: $green;
                    overflow: hidden;
                    transition: 0.3s ease-out;
                    width: 0;
                    opacity: 0;
                }

                &:hover {
                    i {
                        width: 1rem;
                        margin-right: 0.75rem;
                        opacity: 1;
                    }
                }
            }

            .social {
                a {
                    padding: 0.25rem;

                    i {
                        color: grey;
                        transition: inherit;
                    }

                    &:hover {
                        i {
                            color: $green;
                        }
                    }
                }
            }
        }
    }

    .form {
        padding: 6rem 2rem;
        width: 40%;
        background-color: $grey;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .header {
            margin-bottom: 2rem;
            h3 {
                color: $white;
                margin: 0;
                border-left: 3px solid $green;
                padding-left: 1rem;
                font-weight: 600;
                font-size: 1rem;
            }

            p {
                margin-top: 1rem;
                color: $light-grey;
            }
        }

        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 2rem;

            .group {
                width: 45%;

                label {
                    text-transform: uppercase;
                    font-family: $heading-font;
                    font-size: 0.8rem;
                    letter-spacing: 0.25px;
                    color: $white;
                    font-weight: 600;
                    margin-bottom: 1rem;
                    display: block;
                }

                input,
                textarea {
                    border: none;
                    background-color: transparent;
                    resize: none;
                    font-family: $main-font;
                    width: 100%;
                    border-bottom: 1px solid transparent;
                    transition: 0.3s ease-out;
                    padding: 0.25rem 0;
                    outline: none;
                    color: $white;
                    font-size: 1rem;

                    &::placeholder {
                        transition: 0.3s ease-out;
                    }

                    &:focus {
                        border-color: $green;

                        &::placeholder {
                            opacity: 0;
                        }
                    }
                }

                textarea {
                    height: 6rem;
                }
            }

            .textarea {
                width: 100%;
            }

            button {
                padding: 0.5rem 1rem;
                text-transform: uppercase;
                background-color: transparent;
                border: 1px solid $white;
                color: white;
                transition: 0.3s ease-out;
                cursor: pointer;
                font-weight: 600;
                font-size: 0.7rem;
                font-family: $heading-font;

                &:hover {
                    background-color: $green;
                    border-color: $green;
                }
            }
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        row-gap: 4rem;

        .details {
            width: 100%;
            padding-right: 0;
            padding-bottom: 0;
        }

        .form {
            width: 100%;
        }
    }
}

.map {
    width: 100%;
    height: 50vh;

    iframe {
        border: none;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0;
    }

    .grid {
        .details {
            padding: 6rem 2rem 0 2rem;
        }
    }
}
